<div class = "post-container">
    <div class = "container">
  <h1 class="create-heading">Create New Post 
    <h1>
      <%= form_with model: @post, url:posts_new_path, method: :post, scop: :post do |f| %>
        <div class= "col-4">
          <%= f.text_field :title, placeholder: 'Title of post', class:'text-input form-control form-control-lg' %>
          <br/>
          <%= f.text_area :text, placeholder: 'Description of post ', class:'form-control'%>
                    <br/>
          <%= f.submit class: "btn btn-outline-primary"%>
        </div>
      <% end %>
      </div>
    </div>
